body {
    background-color: transparent !important;
}

.searchh {
    position: relative;
    top: 50%;
    margin-top: 25px !important;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.searchh input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    color: #0B8F84;
}

.searchh .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #0B8F84 !important;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.searchh:hover {
    width: 200px;
    cursor: pointer;
}

.searchh:hover input {
    display: block;
}

.searchh:hover .fa {
    background: #0B8F84;
    color: white !important;
}

#myTable {
    border-radius: 5px;
    width: 95%;
    /* Full-width */
    border: 1px solid #FFFFFF;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
}

#myTable th,
#myTable td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
    color: #FFFFFF;
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #FFFFFF;
}

#myTable a {
    color: #FFFFFF !important;
    outline: none;
    text-decoration: none;
}

#myTable a:hover {
    color: #1E3E5B !important;
    outline: none;
    text-decoration: underline;
}

#myTable tr.header,
#myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #0B8F84;
}