/*GENERAL*/
p{
    font-size: 20px !important;
    line-height: 40px;
    padding-left: 35px;
    color: #FFFFFF;
}
h1{
    color: #FFFFFF;
    padding-left: 35px;
    font-size: 55px !important;
}
h3,h4,h5{
    color: #FFFFFF;
}
form input:focus{
    box-shadow: none;
    outline: none;
}

.align-center {
    text-align: center;
}
.row {
    margin: -20px 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box;
}
.row .col.x-50 {
    width: 50%;
}
.row .col.x-100 {
    width: 100%;
}

.content-wrapper {
    min-height: 100%;
    position: relative;
}

.get-in-touch {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.get-in-touch .title {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 70px;
    padding-bottom: 48px;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    background: transparent;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #FFFFFF;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
}
.contact-form .input-text:focus {
    outline: none;
    color: #FFFFFF;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
    transform: translateY(-24px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: snow;
    cursor: text;
    transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
    display: inline-block;
    border-radius: 44px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 1px solid white;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.contact-form .submit-btn:hover {
    color: #1E3E5B !important;
    background: white;
}

/*BAR*/

@-webkit-keyframes animate {
    0% {
        transform: rotateX(-70deg);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        transform: rotateX(-70deg);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}

/*CHECKBOXES*/

[tabindex="-1"]:focus {
    outline: 0 !important; }

.ftco-section {
    padding: 7em 0; }

.ftco-no-pt {
    padding-top: 0; }

.ftco-no-pb {
    padding-bottom: 0; }

.heading-section {
    font-size: 28px;
    color: #000; }
.heading-section small {
    font-size: 18px; }

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

ul.ks-cboxtags {

    list-style: none;
    padding: 20px; }
ul.ks-cboxtags li {

    display: inline-block; }
ul.ks-cboxtags li label {
    display: inline-block;
    background-color: #3670AC;
    border: 1px solid rgba(139, 139, 139, 0.3);
    color: #FFFFFF;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    font-weight: 400; }

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer; }
ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #1E3E5B;
    background-color: #1E3E5B;
    color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }



ul.ks-cboxtags li input[type="checkbox"] {
    opacity: 0; }
